.arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    background: none;
    transition: transform 0.3s ease;
}

.down {
    border-top: 7px solid ;
    border-bottom: none;
}

.up {
    border-bottom: 7px solid ;
    border-top: none;

}