.card-wrapper{
    background: var(--blue-color);
    color: white;
    border: none;
    cursor: default;
    width: 100%;
    padding-left: 24px;
    text-align: left;
    min-height: 30px;
    align-items:center;
} 

