
.report__description{
    margin-top: 33px;
    font-size: 15px;
    font-weight: 300;
    line-height: 17.58px;
    text-align: left;
}
.report__description-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
}
.report {
    margin-top: 36px;
}
.report__table-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-blue-color);
    line-height: 21.09px;
    text-align: left;
}
.report__table-header {
    margin-top: 19px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 24px;
}
.report__table-status, .report__table-number{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
}
.report__table {
    width: 100%;
    margin-top: 18px;
    border-collapse: collapse;
}

.report__table th, .report__table td {
    border: 1px solid #000000;
    font-size: 8px;
    padding: 5px 0px ;
    width: 90px;
    font-weight: 700;
    font-family: Roboto;
    color: #404040;
    line-height: 9.38px;
}
.report__table td{
    font-weight: 400;
    text-align: center;
    
}
.report__table td:last-child{
    font-size: 7px;    
}


/* section insurance-case */
