@import url('./font-style.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";

}

:root {
	--blue-color: #02BFC8;
	--dark-blue-color: #067182;
	--orange-color: #F79F2B;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 24px;
}


@media (max-width: 1199px) {
	.container {
		max-width: 1140px;
	}
}

@media (max-width: 991px) {
	.container {
		max-width: 960px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 720px;
	}
}

@media (max-width: 575px) {
	.container {
		max-width: 540px;
		margin: auto;
	}
}