

.insurance-history{
    margin: 0 auto;
    margin-top: 172px;
}
.insurance-history__main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.insurance-history__menu-button {
    padding: 15px 20px !important;
    margin: 10px 0;
    width: 257px !important;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.58px;
    cursor: pointer !important;
    text-align: center !important;
    height: 44px !important;
}

.insurance-history__footer {
    text-align: center;
    background-color: white;
}

.insurance-history__subscribe-button {
    background-color: var(--orange-color);
    color: white;
    border: none;
    padding: 15px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 257px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.58px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 76px;
    text-decoration: none;
}

.insurance-history__credit-bureau {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}
.insurance-history__credit-bureau img{
    position: absolute;
    bottom: 22px;
    left: 24px;
}

@media (max-height:800px) {
    .insurance-history{
        margin: 0 auto;
        margin-top: 102px;
    }
    .insurance-history__subscribe-button {
        margin-top: 46px;
    }
}